# Blacklist
/*
# Whitelist
!/.gitignore
## Build Files
!/xmake.lua
!/package.json
!/src/
/src/node/**/*.node
/src/node/**/*.lib
/src/node/**/*.exp
!/test
## Documentation
!/**/LICENSE.txt
!/**/*.md





